<%- include("../partials/header") %>

<!-- Top -->
<section>
    <h1>Tools & Skills</h1>
    <div class="row">
        <!-- List -->
        <div class="d-none d-xl-block col-2">
            <a class="btn btn-active my-2" href="/tools/CAD">CAD Modeling</a>
            <a class="btn my-2" href="/tools/sketching">2D Sketching</a>
            <a class="btn my-2" href="/tools/prototyping">Rapid Prototypig</a>
            <a class="btn my-2" href="/tools/webdesign">Web Design</a>
            <a class="btn my-2" href="/tools/software">Software</a>
        </div>
        <!-- Images -->
        <div class="col-12 col-xl-10">
            <div class="row mb-4 justify-content-between">
                <div class="col-6 col-lg-4 my-3">
                    <a href="/tools/CAD/motron"><img class="show" src="../../imgs/Tools/CAD/Cover/motron.jpg" alt=""></a>
                </div>
                <div class="col-6 col-lg-4 my-3">
                    <a href="/tools/CAD/octo"><img class="show" src="../../imgs/Tools/CAD/Cover/octo.jpg" alt=""></a>
                </div>
                <div class="col-6 col-lg-4 my-3">
                    <a href="/tools/CAD/ondular"><img class="show" src="../../imgs/Tools/CAD/Cover/ondular.jpg" alt=""></a>
                </div>
                <div class="col-6 col-lg-4 my-3">
                    <a href="/tools/CAD/printer"><img class="show" src="../../imgs/Tools/CAD/Cover/printer.jpg" alt=""></a>
                </div>
                <div class="col-6 col-lg-4 my-3">
                    <a href="/tools/CAD/tennis"><img class="show" src="../../imgs/Tools/CAD/Cover/tennis.jpg" alt=""></a>
                </div>
                <div class="col-6 col-lg-4 my-3">
                    <a href="/tools/CAD/vase"><img class="show" src="../../imgs/Tools/CAD/Cover/vase.jpg" alt=""></a>
                </div>
                <div class="col-12 my-3">
                    <a href="/tools/CAD/dalia"><img class="show" src="../../imgs/Tools/CAD/Cover/dalia.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>


    </div>
</section>

<%- include("../partials/footerTools") %>