<%- include("../partials/header") %>

<!-- Top -->
<section>
    <h1>Tools & Skills</h1>
    <div class="row">
        <!-- List -->
        <div class="d-none d-xl-block col-2">
            <a class="btn my-2" href="/tools/CAD">CAD Modeling</a>
            <a class="btn my-2" href="/tools/sketching">2D Sketching</a>
            <a class="btn btn-active my-2" href="/tools/prototyping">Rapid Prototypig</a>
            <a class="btn my-2" href="/tools/webdesign">Web Design</a>
            <a class="btn my-2" href="/tools/software">Software</a>
        </div>
        <!-- Images -->
        <div class="col-12 col-xl-10">
            <div class="row mb-4 justify-content-between">
                <!-- Arcilla -->
                <div class="col-12 col-lg-8 my-3">
                    <img class="show" src="../../imgs/Tools/Prototyping/Cover/arcilla.jpg" alt="">
                </div>
                <div class="col-12 col-lg-4 text-center m-auto">
                    <h6>Clay</h6>
                </div>
                <!-- Bateria -->
                <div class="col-12 col-lg-8 my-3">
                    <img class="show" src="../../imgs/Tools/Prototyping/Cover/bateria.jpg" alt="">
                </div>
                <div class="col-12 col-lg-4 text-center m-auto">
                    <h6>Carton</h6>
                </div>
                <!-- Pink Foam -->
                <div class="col-12 col-lg-8 my-3">
                    <img class="show" src="../../imgs/Tools/Prototyping/Cover/pink.jpg" alt="">
                </div>
                <div class="col-12 col-lg-4 text-center m-auto">
                    <h6>Pink Foam</h6>
                </div>
                <!-- Paper -->
                <div class="col-12 col-lg-8 my-3">
                    <img class="show" src="../../imgs/Tools/Prototyping/Cover/paper.jpg" alt="">
                </div>
                <div class="col-12 col-lg-4 text-center m-auto">
                    <h6>Paper</h6>
                </div>
            </div>
        </div>
    </div>
</section>


    </div>
</section>

<%- include("../partials/footerTools") %>