<%- include("../partials/header") %>

<!-- Top -->
<section>
    <h1>Tools & Skills</h1>
    <div class="row">
        <div class="d-none d-xl-block col-2">
            <a class="btn my-2" href="/tools/CAD">CAD Modeling</a>
            <a class="btn btn-active my-2" href="/tools/sketching">2D Sketching</a>
            <a class="btn my-2" href="/tools/prototyping">Rapid Prototypig</a>
            <a class="btn my-2" href="/tools/webdesign">Web Design</a>
            <a class="btn my-2" href="/tools/software">Software</a>
        </div>
        <div class="col-12 col-xl-10">
            <div class="row mb-4 justify-content-between">
                <!-- pencil: jewelry -->
                <div class="col-12 col-lg-8  my-3">
                    <img class="show" src="../../imgs/Tools/Sketching/Cover/jewelry.png" alt="">
                </div>
                <div class="col-12 col-lg-4 text-center m-auto">
                    <h6>Jewelry Pieces</h6>
                    <p>Pencil</p>
                </div>
                <!-- pencil:pets -->
                <div class="col-12 col-lg-8  my-3">
                    <img class="show" src="../../imgs/Tools/Sketching/Cover/pet.png" alt="">
                </div>
                <div class="col-12 col-lg-4 text-center m-auto">
                    <h6>Pet Products</h6>
                    <p>Pencil</p>
                </div>
                <!-- prismacolor: wallet -->
                <div class="col-12 col-lg-8  my-3">
                    <img class="show" src="../../imgs/Tools/Sketching/Cover/wallet.png" alt="">
                </div>
                <div class="col-12 col-lg-4 text-center m-auto">
                    <h6>Woman's Wallet</h6>
                    <p>Prismacolor</p>
                </div>
                <!-- rotulador: scooter -->
                <div class="col-12 col-lg-8  my-3">
                    <img class="show" src="../../imgs/Tools/Sketching/Cover/scooter.png" alt="">
                </div>
                <div class="col-12 col-lg-4 text-center m-auto">
                    <h6>Ocean Scooter</h6>
                    <p>Marker pen</p>
                </div>
                <!-- pen: memory box -->
                <div class="col-12 col-lg-8  my-3">
                    <img class="show" src="../../imgs/Tools/Sketching/Cover/box.png" alt="">
                </div>
                <div class="col-12 col-lg-4 text-center">
                    <h6>Memory Box</h6>
                    <p>Pen</p>
                </div>
            </div>
        </div>
    </div>
</section>


    </div>
</section>

<%- include("../partials/footerTools") %>