
<%- include("./partials/header") %>
<section>
  <div class="row">
    <div class="col-lg-8">
      <h1 class="my-5">Lets do great things together</h1>
      <h1>Don't hesitate! Get in touch.</h1>
    </div>
    <div class="col-12 col-lg-4 m-auto">
      <p class="my-2"><i class="far fa-2x fa-envelope contact mx-3"></i>   valeriatdesign@hotmail.com</p>
      <p class="my-2"><i class="fab fa-2x fa-whatsapp contact mx-3"></i>   +5213325065949</p>
    </div>
  </div>
</section> 

  <%- include("./partials/footer") %>