<%- include("./partials/header") %>

<!-- check if user or company -->
<section>
  </div>
  <div class="row my-5 align-items-center">
    <div class="col12 col-lg-6 pr-5">
      <h2 class="mb-5">I'm passionate about helping people and 
        making this place a better world to live through design</h1>
        <div class="text-center mb-5"><a href="/mywork/product" class="btn btn-lg btn-primary">See Proyects</a></div>
    </div>
    <div class="col-12 col-lg-6">
      <img class="show" src="../imgs/home.jpg" alt="">
    </div>
  </div>
</section>

<%- include("./partials/footer") %>
